* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #ffffff;
    color: #666666;
    background-image: linear-gradient (to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, serif;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header h1 {
    line-height: 140%;
    margin: 0;
    padding: .5rem;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058;
}

nav {
    background-color: #424242;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position:sticky;
    top:0;
}

nav ul {
    margin:0;
    padding:0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #BA1C21;
}

#homehero {
    background-image: url(utahtechimages/homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

#studenthero {
    background-image: url(utahtechimages/studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

#facultyhero {
    background-image: url(utahtechimages/facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

main {
    padding: 0 2rem;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    font-size: 0.70rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / -2;
}

nav {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}

#homehero, #studenthero, #facultyhero {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}

main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
}

footer {
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}

main img {
    float:right;
    padding-left:2rem;
}