body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #ffffff;
    color: #666666;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, serif;
}

header h1 {
    line-height: 140%;
    margin: 0;
    padding: .5rem;
}

nav {
    background-color: #f3f3f3;
    font-weight: bold;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    font-size: 0.70rem;
    text-align: center;
    font-style: italic;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}