body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #ffffff;
    color: #666666;
    background-image: linear-gradient (to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, serif;
}

header h1 {
    line-height: 140%;
    margin: 0;
    padding: .5rem;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058;
}

nav {
    background-color: #f3f3f3;
    font-weight: bold;
    padding: .5rem, .5rem, .5rem, 2rem;
}

nav a {
    text-decoration: none;
}

#homehero {
    background-image: url(utahtechimages/homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

#studenthero {
    background-image: url(utahtechimages/studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

#facultyhero {
    background-image: url(utahtechimages/facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

main {
    padding: 0, 2rem;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    font-size: 0.70rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}